.ui.form .field>label{
    color:blue
}
.green {
    background:green;
}
tr:hover{
    background:green;
}

.ui.button:hover {
    background-color: #cacbcd;
    background-image: none;
    -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    color: rgba(0,0,0,.8);
}