.App.TestList {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: -webkit-fill-available;
  font-size: calc(10px + 2vmin);
}
